.row-fluid
  .offset1.span10
    .row
      #tags-container.span10
        %h4 Tags:
      #buttons-container.span2
        %h4 Buttons:
    .row#info-container
      .span2#prof-pic-container
        %img.prof-pic
      .span3
        %p
          Delian Asparouhov
          %br
          MIT Class of 2015
          %br
          Worked at Square
      .span3
        %p
          300 followers
          %br
          2167 friends
          %br
          289 connections
      .span2
        %p
          Location: Salt Lake City
      .span2#location-container
        %img.prof-pic