#contact-grid.container 
  .contact-card.small-card
    .card-pic{style:"background-image: url('https://api.twitter.com/1/users/profile_image?screen_name=akashbad&size=reasonably_small')"}
      %p.card-name
        Akash Badshah
  .contact-card.medium-card
    .card-pic{style:"background-image: url('https://api.twitter.com/1/users/profile_image?screen_name=akashbad&size=reasonably_small')"}
      %p.card-name
        Akash Badshah
  .contact-card.large-card
    .card-pic{style:"background-image: url('https://api.twitter.com/1/users/profile_image?screen_name=akashbad&size=reasonably_small')"}
      %p.card-name
        Akash Badshah