.row-fluid
  .offset1.span10
    .row#info-container
      .span2#prof-pic-container
        %img.prof-pic
      .span3
        %p
          Delian Asparouhov
          %br
          MIT Class of 2015
          %br
          Worked at Square
      .span3
        %p
          300 followers
          %br
          2167 friends
          %br
          289 connections
      .span2
        %p
          Location: Salt Lake City
      .span2#location-container
        %img.prof-pic
    .row
      .span6.show-bar
        %h4 History

      .span6.show-bar
        Images of sources
    .row#show-container
      .span6#history-container
        .row.history-item
          Item 1
        .row.history-item
          Item 2
        .row.history-item
          Item 3
      .span6#interaction-container
        %p
          sample2

