/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

  ::-webkit-scrollbar {
      width: 10px;
  }  
  ::-webkit-scrollbar-track {
      background-color: #ddd;
;
  } /* the new scrollbar will have a flat appearance with the set background color */

  ::-webkit-scrollbar-thumb {
      background-color: rgba(14, 90, 120, .5);
      -webkit-border-radius: 10px;
      border-radius: 10px;
  } /* this will style the thumb, ignoring the track */

  ::-webkit-scrollbar-corner {
      background-color: black;
  } /* if both the vertical and the horizontal bars appear, then perhaps the right bottom corner also needs to be styled */ 

 .main {
  background: #ebecee;
 }

.devise-container {
  background: white;
  padding: 30px;
  width: 300px;
  margin: 0 auto;
}
.scaffold-container {
  background: white;
  padding: 30px;
  width: 450px;
  margin: 0 auto;
}

 .thick-shadow{
  -webkit-box-shadow: 0 1px 5px 0 rgba(34, 25, 25, 0.4);
  -moz-box-shadow:    0 1px 5px 0 rgba(34, 25, 25, 0.4);
  box-shadow:         0 1px 5px 0 rgba(34, 25, 25, 0.4);
  background-color: white;
 }

 .thin-shadow{
  -webkit-box-shadow: 0 0 2px 0 rgba(34, 25, 25, 0.5);
  -moz-box-shadow:    0 0 2px 0 rgba(34, 25, 25, 0.5);
  box-shadow:         0 0 2px 0 rgba(34, 25, 25, 0.5);
 }

 .history-icon {
  margin:6px 6px 6px 6px;
  width:36px;
  height:36px;
  border-radius:2px;
}

.history-item {
  border-bottom: solid rgb(194, 194, 194) 1px;
  border-left: solid rgb(194, 194, 194) 1px;
  height: 48px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
}

.history-item:hover{
  background-color:#ddd;
  border-left-width: 0px;

}

.history-item-grid{
  border-left-width: 0px;
}

.history-item-grid:hover{
  background-color: rgba(14, 90, 120,.1);
}

.tags-container {
  padding-left: 20px;
  margin-top: 2px;
}

.tags-row{
  padding-top: 11px;
}

.blue-bar{
  width: 100%;
  height: 10px;
  background-color: #0E5A78;
}
.tags .close {
  margin-left: 9px;
  top: 8px;
  position: absolute;
  opacity: 0.3;
}

