/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require jquery.ui.all
 */

 .main {
  background: #ebecee;
 }

 .thick-shadow{
  -webkit-box-shadow: 0 1px 5px 0 rgba(34, 25, 25, 0.4);
  -moz-box-shadow:    0 1px 5px 0 rgba(34, 25, 25, 0.4);
  box-shadow:         0 1px 5px 0 rgba(34, 25, 25, 0.4);
 }

 .thin-shadow{
  -webkit-box-shadow: 0 0 2px 0 rgba(34, 25, 25, 0.5);
  -moz-box-shadow:    0 0 2px 0 rgba(34, 25, 25, 0.5);
  box-shadow:         0 0 2px 0 rgba(34, 25, 25, 0.5);
 }

 .history-icon {
  margin:6px 6px 6px 6px;
  width:36px;
  height:36px;
  border-radius:2px;
}

.history-item {
  border-bottom: solid rgb(194, 194, 194) 1px;
  height: 48px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
}

.history-item:hover{
  background-color: rgba(14, 90, 120,.1);
}
