#approve-container {
  background-color: white;
  -moz-box-shadow: 0 0 2px 2px #AAA;
  -webkit-box-shadow: 0 0 2px 2px#AAA;
  box-shadow: 0 0 2px 2px #AAA;
}
#buttons-container {
  border: 1px black solid;
  padding-left: 20px;
}
#cards-container {
  border: 1px black solid;
}
.card {
  border: 1px black dashed;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
}
#info-container {
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px black solid;
}
#location-container {
  text-align: center;
}
.prof-pic {
  height: 128px;
  width: 128px;
}
#prof-pic-container {
  text-align: center;
}
#tags-container {
  border: 1px black solid;
  padding-left: 20px;
}