#buttons-container {
  border: 1px black solid;
}
#cards-container {
  border: 1px black solid;
  height: 400px;
}
#info-container {
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px black solid;
}
#location-container {
  text-align: center;
}
.prof-pic {
  height: 100px;
  width: 100px;
}
#prof-pic-container {
  text-align: center;
}
#tags-container {
  border: 1px black solid;
}