.contact-card {
  margin: 5px;
/*  -webkit-box-shadow: 0 1px 5px 0 rgba(34, 25, 25, 0.4);
  -moz-box-shadow:    0 1px 5px 0 rgba(34, 25, 25, 0.4);
  box-shadow:         0 1px 5px 0 rgba(34, 25, 25, 0.4);
*/}

.top-card {
  -webkit-box-shadow: 0 1px 5px 0 rgba(34, 25, 25, 0.4);
  -moz-box-shadow:    0 1px 5px 0 rgba(34, 25, 25, 0.4);
  box-shadow:         0 1px 5px 0 rgba(34, 25, 25, 0.4);
  height: 128px;
  position: relative;
}

/*Small Card Styling*/
.card-name {
  text-align: center;
  color: white;
  font-weight: bold;
  background-color: rgba(0,0,0,.5);
  position: absolute;
  bottom: 0;
  margin: 0px 0px 0px 0px ;
  width: 100%;
}

.card-pic {
	height: 128px;
	width: 128px;
}

.small-card {
  height: 128px;
  width: 128px;
  -webkit-box-shadow: 0 1px 5px 0 rgba(34, 25, 25, 0.4);
  -moz-box-shadow:    0 1px 5px 0 rgba(34, 25, 25, 0.4);
  box-shadow:         0 1px 5px 0 rgba(34, 25, 25, 0.4);

}

.small-detail {
  position: relative;
  display: inline-block;
}

/*Medium Card Stylin*/

.card-button{
  width: 64px;
  margin-left:auto;
  margin-right:auto;
}

.card-buttons{

}

.card-button-icons{
  height: 16px;
  width: 16px;
  float: left;
  padding-top: 2px;
}

.card-buttons-row{
  width: 100%;
  margin-top: 15px;
  margin-bottom:15px;
  text-align: center;
}

.label{
  font-size: 10pt;
}

.medium-bar{
  width: 100%;
  height: 10px;
  background-color: #0E5A78;
}

.medium-card {
  height: 128px;
  width: 404px;
  -webkit-box-shadow: 0 1px 5px 0 rgba(34, 25, 25, 0.4);
  -moz-box-shadow:    0 1px 5px 0 rgba(34, 25, 25, 0.4);
  box-shadow:         0 1px 5px 0 rgba(34, 25, 25, 0.4);
}

.medium-detail{
  width: 276px;
  height: 128px;
  display:inline-block;
  position: absolute;
  background-color: white;
}

.name {
  padding: 10px 10px 0px 0px;
  font-size: 15pt;
  text-align: right;
}

/*Large Card Styling*/

.large-card {
	height: 266px;
	width: 404px;
}

.large-detail {
  width: 394px;
  top: 128px;
  background-color: white;
  margin: -10px auto 0 auto;
  padding: 10px 0 0 0;
  -webkit-box-shadow: 0 0 2px 0 rgba(34, 25, 25, 0.5);
  -moz-box-shadow:    0 0 2px 0 rgba(34, 25, 25, 0.5);
  box-shadow:         0 0 2px 0 rgba(34, 25, 25, 0.5);
}

.history-item {
  border-bottom: solid rgb(194, 194, 194) 1px;
  height: 45px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.history-icon {
  margin:3px 3px 0px 3px;
  width:39px;
  height:39px;
  border-radius:2px;
}

.history-item:hover{
  background-color: rgb(237, 228, 155);
}

/*Search and selectors*/
#selector-container{
  margin-bottom: 10px;
  height: 35px;
}

#search-tags{
  margin-bottom: 0px;
}

/*Isotope Shit*/
.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}

/**** Isotope filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}