.interaction-container{
	width: 100%;
	height: 400px;
	margin: 0px 0px 20px 0px;
}
#left-container{
	height: inherit;
	float: left;
	width: 50%;
}
#right-container{
	height: inherit;
	float: left;
	width: 50%;
}
.top-bar{
	width: 100%;
	float: left;
	height: 42px;
}
#history-title{
	text-align: center;
	font-size: 20pt;
	font-style: bold;
	padding: 8px;
}
.history{
	width: 100%;
	float: left;
	border: solid black;
	border-width: 1px 0px 1px 1px;
	height: inherit;
	overflow: scroll;
}
.interaction{
	width: 100%;
	border: 1px solid black;
	float: left;
	height: inherit;
}

/* History Items copied over from grid to eliminate dependencies */
.history-item-show {
  border-top: solid black 1px;
  height: 42px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.history-icon-show {
  margin:3px 3px 0px 3px;
  width:36px;
  height:36px;
  border-radius:2px;
}

.interaction-button:hover{
	cursor: pointer;
	background-color: red;
}
.interaction-button{
	width: 42px;
	height: 42px;
	display: inline-block;
}

.history-item-show:hover{
  background-color: rgb(237, 228, 155);
}
.no-top {
	border: 0px;
}