%html
  %head
  %title Contactlens
  = stylesheet_link_tag    "application", :media => "all"
  = javascript_include_tag "application"
  = csrf_meta_tags
%body
.navbar
  .navbar-inner
    %a.brand{:href=>"/"} ContactLens
    %u1.nav
      %li
        %a{:href=>"/approve"} Approve
    %u1.nav
      %li
        %a{:href=>"/show"} Show

= yield